<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='xxx.css') }}">
    <title>Оценка грамматичности высказываний</title>
<style>
#para1 {
  text-align: center;
  color: blue;
}
</style>
</head>
<body>

<form action="/process" method = 'GET'>
    <fieldset>
    <legend id="para1"><b>Опрос про оценивание грамматичности высказываний</b></legend>
    <p><i>Цель этого опроса заключается в определении грамматичности некоторых высказываний</i></p>
	Ваше имя?<br>
    <input type="text" name="name" required pattern='[A-Za-zА-Яа-яЁё]+'><br>
    Ваша фамилия?<br>
    <input type="text" name="surname" required pattern='[A-Za-zА-Яа-яЁё]+'><br>
	Ваш родной язык?<br>
    <input type="text" name="lang" required pattern='[A-Za-zА-Яа-яЁё]+'><br>
	Ваш город рождения?<br>
    <input type="text" name="place" required pattern='[A-Za-zА-Яа-яЁё]+'><br>
	Укажите ваш пол<br>
    <input type="radio" name="gender" value="male" checked>male<br>
	<input type="radio" name="gender" value="female">female<br>
    <input type="radio" name="gender" value="other">other<br>
	<br>
	Укажите ваше образование<br>
    <input type="radio" name="education" value="lower secondary" checked>lower secondary<br>
	<input type="radio" name="education" value="full secondary">full secondary<br>
    <input type="radio" name="education" value="professional secondary">professional secondary<br>
	<input type="radio" name="education" value="higher">higher<br>
	<br>
    Сколько Вам лет?<br>
	<i>Укажите цифру</i><br>
	<input type="text" name="age" required pattern='[0-9]+' placeholder=18-100><br>
	<br>
	Оцените грамматичность высказивания (где 1 - совсем не грамматично, а 5 - грамматично):<br>
	<i>Го на мид, я создал</i><br>
    <input type="radio" name="q1" value="1" >1<br>
	<input type="radio" name="q1" value="2">2<br>
    <input type="radio" name="q1" value="3" checked>3<br>
	<input type="radio" name="q1" value="4">4<br>
	<input type="radio" name="q1" value="5">5<br>
	<br>
	Оцените грамматичность высказивания (где 1 - совсем не грамматично, а 5 - грамматично):<br>
	<i>Ну что, поцаны, аниме?</i><br>
    <input type="radio" name="q2" value="1" >1<br>
	<input type="radio" name="q2" value="2">2<br>
    <input type="radio" name="q2" value="3" checked>3<br>
	<input type="radio" name="q2" value="4">4<br>
	<input type="radio" name="q2" value="5">5<br>
	<br>	
	<p><input type="submit" value="Отправить"></p>
    </fieldset>
</form>
<p><a href='/stats'>Статистика</a></p>
</body>
</html>