<!DOCTYPE html>
<html lang="en">
<head>
  <title>Стартовая страница опроса</title>
  <meta charset="utf-8">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='wwww.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body id="start">

<div id="start" class="jumbotron text-center">
  <h1 id="para11">Опрос на тему "Оценка годности мемов"</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 id="para22" ><a href="/quest">Анкета</a></h2>
    </div>
    <div class="col-md-6">
      <h2 id="para22" ><a href="/stats">Статистика</a></h2>
    </div>
  </div>
</div>

</body>
</html>